<div class="app"
    ng-class="{ 'app-menu-is-open': $ctrl.isMenuOpen }">
  <div class="app-menu"
      hm-panleft="$ctrl.closeMainMenu()">
    <ul class="app-menu-links">
      <li class="app-menu-link is-selected">System</li>
      <li class="app-menu-link">Browser</li>
      <li class="app-menu-link">Netflix</li>
    </ul>
  </div>

  <div class="app-content"
      ng-if="!$ctrl.isLoading">
    <div class="app-menu-overlay"
        hm-tap="$ctrl.closeMainMenu()"
        hm-panleft="$ctrl.closeMainMenu()"></div>
    <div class="header">
      <div class="menu-button"
          hm-tap="$ctrl.openMainMenu()">
        <div class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <div class="page-title">System</div>
    </div>
    <div class="quick-commands">
      <button class="close"
          hm-tap="$ctrl.closeWindow()">&times;</button>
      <button class="suspend"
          hm-tap="$ctrl.suspend()">!</button>
    </div>
    <div class="main-content">
      <volume-slider
          level="{{ $ctrl.systemVolume }}"
          on-level-change="$ctrl.onVolumeLevelChange($event)"></volume-slider>
      <form class="send-text-form"
          ng-submit="$ctrl.submitTextToSend()">
        <input class="text-to-send" placeholder="Type text to send..."
            ng-model="$ctrl.textToSend" />
      </form>
      <mousepad class="mousepad-container"
          on-move="$ctrl.moveMouse($event)"
          on-scroll-up="$ctrl.scrollUp($event)"
          on-scroll-down="$ctrl.scrollDown($event)"
          on-left-click="$ctrl.leftClick()"
          on-right-click="$ctrl.rightClick()"></mousepad>
    </div>
  </div>
</div>
