<section class="content-container">
    <div class="row">
        <div class="col-xs-12">
            <form ng-submit="youTubeCtrl.search(youTubeCtrl.searchQuery)">
                <input ng-model="youTubeCtrl.searchQuery" class="form-control" placeholder="search YouTube..." />
            </form>
        </div>
    </div>
    <hr />
    <div class="row btn-controls-wrapper">
        <div class="col-xs-6">
            <button ng-click="youTubeCtrl.fullScreen()" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-fullscreen"></span>
                full screen
            </button>
        </div>
        <div class="col-xs-6">
            <button ng-click="youTubeCtrl.exitFullScreen()" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-resize-small"></span>
                exit full
            </button>
        </div>
    </div>
    <hr />
    <div class="row btn-controls-wrapper">
        <div class="col-xs-4">
            <button ng-click="youTubeCtrl.frameBack()" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-fast-backward"></span>
            </button>
        </div>
        <div class="col-xs-4">
            <button ng-click="youTubeCtrl.togglePlayPause()" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-play"></span>
            </button>
        </div>
        <div class="col-xs-4">
            <button ng-click="youTubeCtrl.frameForward()" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-fast-forward"></span>
            </button>
        </div>
    </div>
    <hr />
    <div class="row btn-controls-wrapper">
        <div class="col-xs-4">
            <button ng-click="youTubeCtrl.frameBack()" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-step-backward"></span>
            </button>
        </div>
        <div class="col-xs-4">
            <button ng-click="youTubeCtrl.toggleKeyframeMode()" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-film"></span>
            </button>
        </div>
        <div class="col-xs-4">
            <button ng-click="youTubeCtrl.frameForward()" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>
        </div>
    </div>
</section>
