h3 Netflix

+keyboardShort("play/pause", "space")

+keyboardShort("Full Screen", "f")

+keyboardShort("Exit Full Screen", "Escape")

+browserForm
  input(type="hidden", name="flags[--profile-directory]", value="\"Profile 1\"")
  input(type="hidden", name="url", value="www.netflix.com")
  button(type="submit") Launch Netflix

