!!!

html
  head
    title NodeRemote
    meta(name="viewport", content="width=device-width; initial-scale=1.0")
    meta(name="mobile-web-app-capable", content="yes")
    link(rel="shortcut icon", sizes="126x126", href="/images/icon-196.png")
    link(rel="apple-touch-icon", href="/images/icon-128.jpg")
  body

    include ./mixins

    h1 Node Remote

    section
      include ./_system

    section
      include ./_netflix
