<section class="content-container">
  <div class="row">
    <div class="col-xs-6">
      <button ng-click="browserCtrl.closeTab()" class="btn btn-lg">
        <span class="glyphicon glyphicon-remove-circle"></span>
        close tab
      </button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <form ng-submit="browserCtrl.launch()">
        <input ng-model="browserCtrl.launchUrl" class="form-control" placeholder="open a url - www.google.com" />
      </form>
    </div>
  </div>
  <hr />
  <div class="row row-spacer">
    <div class="col-xs-6">
      <button ng-click="browserCtrl.nextTab()" class="btn btn-lg btn-primary">
        <span class="glyphicon glyphicon-arrow-right"></span>
        next tab
      </button>
    </div>
    <div class="col-xs-6">
      <button ng-click="browserCtrl.actualSize()" class="btn btn-lg btn-primary">
        <span class="glyphicon glyphicon-unchecked"></span>
        actual size
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <button ng-click="browserCtrl.zoomIn()" class="btn btn-lg btn-primary">
        <span class="glyphicon glyphicon-zoom-in"></span>
        zoom in
      </button>
    </div>
    <div class="col-xs-6">
      <button ng-click="browserCtrl.zoomOut()" class="btn btn-lg btn-primary">
        <span class="glyphicon glyphicon-zoom-out"></span>
        zoom out
      </button>
    </div>
  </div>
</section>
