.app-content {

  .app-menu-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #333;

    visibility: hidden;
    opacity: 0;
    transition: opacity .25s ease;
  }

  .main-content {
    padding: 5px;

    .text-to-send {
      width: 100%;
      margin-bottom: 5px;
      padding: 5px;
      font-size: 1.5rem;
      border-radius: 5px;
    }

    .mousepad-container {
      height: 50vh;
      display: flex;
    }
  }
}

.app-menu-is-open {
  .app-content {
    .app-menu-overlay {
      visibility: visible;
      opacity: .6;
    }
  }
}
