.app-content {

  .app-menu-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #333;

    visibility: hidden;
    opacity: 0;
    transition: opacity .25s ease;
  }

  .mousepad-container {
    width: 100%;
    height: 50vh;
    display: flex;

    padding: 5px;
  }
}

.app-menu-is-open {
  .app-content {
    .app-menu-overlay {
      visibility: visible;
      opacity: .6;
    }
  }
}
