.header {
  display: flex;
  align-items: center;
  height: 44px;

  background-color: darken(#0066fa, 20);

  .menu-button {
    margin: 0 25px 0 15px;
  }

  .page-title {
    font-size: 1.5rem;
    color: #fff;
  }
}
