<section class="row system-container">
  <div class="col-xs-6">
    <form ng-submit="systemCtrl.setVolume(systemCtrl.systemService.volume)">
      <input ng-model="systemCtrl.systemService.volume" placeholder="volume">
    </form>
  </div>
  <div class="col-xs-6">
    <button class="btn btn-lg system--volume-btn system--volume-up" ng-click="systemCtrl.volumeUp()">
      <span class="glyphicon glyphicon-arrow-up"></span>
    </button>
    <button class="btn btn-lg system--volume-btn" ng-click="systemCtrl.volumeDown()">
      <span class="glyphicon glyphicon-arrow-down"></span>
    </button>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-danger" ng-click="systemCtrl.suspend()">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      suspend
    </button>
  </div>
</section>
