div.section-header.clearfix
  .netflix--logo
    +browserForm
      input(type="hidden", name="flags[--profile-directory]", value="\"Profile 1\"")
      input(type="hidden", name="url", value="http://www.netflix.com")
      button.button-reset(type="submit")
        img(src="https://secure.netflix.com/us/layout/ecweb/common/netflix_logo_only_231@2x.png")

  .netflix--search
    +browserForm
      input(type="hidden", name="flags[--profile-directory]", value="\"Profile 1\"")
      input.netflix--search-term(type="text", id="netflix-search", name="url", placeholder="Search...")

+keyboardShort("play/pause", "space")

+keyboardShort("Full Screen", "f")

+keyboardShort("Exit Full Screen", "Escape")

div.netflix--media-conatiner.clearfix
  div.netflix--media-item
    +browserForm
      input(type="hidden", name="flags[--profile-directory]", value="\"Profile 1\"")
      input(type="hidden", name="url", value="http://movies.netflix.com/WiPlayer?movieid=70136120")
      button(type="submit")
        img(src="http://cdn4.nflximg.net/webp/0604/3360604.webp")

  div.netflix--media-item
    +browserForm
      input(type="hidden", name="flags[--profile-directory]", value="\"Profile 1\"")
      input(type="hidden", name="url", value="http://movies.netflix.com/WiPlayer?movieid=70136141")
      button(type="submit")
        img(src="http://cdn6.nflximg.net/webp/9386/869386.webp")

  div.netflix--media-item
    +browserForm
      input(type="hidden", name="flags[--profile-directory]", value="\"Profile 1\"")
      input(type="hidden", name="url", value="http://movies.netflix.com/WiPlayer?movieid=70136138&trkid=2361637")
      button(type="submit")
        img(src="http://cdn3.nflximg.net/webp/0823/2110823.webp")
