div.section-header.clearfix
  h3.system--logo
    | Node Remote
  .system--search
    +browserForm
      input.system--search-term(type="text", name="url", placeholder="Launch Chrome...")

.clearfix
  .system--col
    +keyboardShort("Close Window", "press:Alt_L press:F4 release:F4 release:Alt_L")

  .system--col
    form(action="/system/suspend", method="post")
        button(type="submit") suspend

.clearfix
  .system--col
    form(action="/system/setVolume", method="post")
      input.system--volume-level(type="number", value="50", name="options[level]")
      button(type="submit") volume

  .system--col
    form(action="/system/mute", method="post")
      button(type="submit") mute
