h3 System
  form(action="/system/suspend", method="post")
      button(type="submit") suspend

  form(action="/system/setVolume", method="post")
    input(type="number", value="50", name="options[level]")
    button(type="submit") set volume

  form(action="/system/mute", method="post")
    button(type="submit") mute

  +keyboardShort("Close Current Window", "press:Alt_L press:F4 release:F4 release:Alt_L")

  +browserForm
    input(type="text", name="url", placeholder="www.google.com")
    button(type="submit") Launch Chrome
