mixin keyboardShort(name, key)
   form(action="/keys", method="post" class="keyboard-short")
     input(type="hidden", name="keys", value=key)
     button(type="submit") #{name}

mixin browserForm()
  form(action="/browser", method="post")
    block
