html{
	height: 100%;
}

body{
	margin: 0;
	padding: 0;
	height: 100%;
}

img{
	width: 100%;
	height: auto;
}

h1, h2, h3, h4{
	margin: 0;
	padding: 0;
}

.system {
	background-color: #999;
	padding: 1em;
	color: #fff;
}

.system--logo{
	float: left;
}

.system--search{
	float: right;
	width: 60%;
}

.system--search-term{
	width: 100%;
}

.system--col{
	float: left;
	width:45%;
}

.system--volume-level{
	max-width: 4em;
}

.system button{
	border: 1px solid #353434;
	border-radius: 4px 4px 4px 4px;
	color: white;
	padding: 6.5px;
	font-weight: 700;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	background: #b9090b;
	background: -moz-linear-gradient(top, #b9090b 1%, #9f0002 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b9090b), color-stop(100%,#9f0002));
	background: -webkit-linear-gradient(top, #b9090b 1%,#9f0002 100%);
	background: -o-linear-gradient(top, #b9090b 1%,#9f0002 100%);
	background: -ms-linear-gradient(top, #b9090b 1%,#9f0002 100%);
	background: linear-gradient(to bottom, #666 1%,#333 100%);
}

.netflix{
	background-color: #B9090B;
	padding: 1em;
}

.netflix--logo{
	float:left;
	width: 25%;
}

.netflix--search{
	float: right;
	width: 65%;
}

.netflix--search-term{
	width: 100%;
}

.netflix--media-item{
	max-width: 10.2em;
	float: left;
}

.netflix button{
	border: 1px solid #A20103;
	border-radius: 4px 4px 4px 4px;
	color: white;
	padding: 8.5px;
	font-weight: 700;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	background: #b9090b;
	background: -moz-linear-gradient(top, #b9090b 1%, #9f0002 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#b9090b), color-stop(100%,#9f0002));
	background: -webkit-linear-gradient(top, #b9090b 1%,#9f0002 100%);
	background: -o-linear-gradient(top, #b9090b 1%,#9f0002 100%);
	background: -ms-linear-gradient(top, #b9090b 1%,#9f0002 100%);
	background: linear-gradient(to bottom, #b9090b 1%,#9f0002 100%);
}

.netflix .alt-button{
	background: #115099;
	background: -moz-linear-gradient(top, #1b7ff2 20%, #115099 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #1b7ff2), color-stop(100%, #115099));
	background: -webkit-linear-gradient(top, #1b7ff2 20%, #115099 100%);
	background: -o-linear-gradient(top, #1b7ff2 20%, #115099 100%);
	background: -ms-linear-gradient(top, #1b7ff2 20%, #115099 100%);
	background: linear-gradient(top, #1b7ff2 20%, #115099 100%);
	box-shadow: 0 4px 10px -6px #010101, inset 0 1px 0 0 #60a6f6;
}

.button-reset, .netflix .button-reset{
	border: none;
	padding: 0;
	background: initial;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.trackpad{
	height: 100%;
}

.trackpad--input{
	height: 7%;
}

.trackpad--input input{
	width: 100%;
	height: 100%;
	border: none;
	padding: 0;
}
.trackpad--sensor{
	width: 100%;
	height: 70%;
	background-color: #333;
}

.trackpad--buttons{
	height: 15%;
}

.trackpad--click{
	height: 100%;
	float: left;
}

.trackpad--left-click{
	width: 40%;
	background-color: #ccc;
}

.trackpad--left-click:active, .trackpad--right-click:active, .trackpad-double-click:active{
	background-color: yellow;
}

.trackpad--double-click{
	width: 20%;
}

.trackpad--right-click{
	width: 40%;
	background-color: #999;
}

.trackpad--keys{
	height: 8%;
}

.trackpad--keys form{
	width: 25%;
	height: 100%;
	float: left;
}

.trackpad--keys button{
	width: 100%;
	height: 100%;
	text-transform: uppercase;
}
