<section class="content-container">
  <div class="row">
    <div class="col-xs-6">
      <button class="btn btn-lg" ng-click="systemCtrl.closeWindow()">
        <span class="glyphicon glyphicon-remove-circle"></span>
        close window
      </button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-danger btn-lg" ng-click="systemCtrl.suspend()">
        <span class="glyphicon glyphicon-exclamation-sign"></span>
        suspend
      </button>
    </div>
  </div>
  <hr />
  <volume-control></volume-control>
</section>
