<section class="content-container trackpad">
  <div class="row">
    <div class="col-xs-12">
      <form ng-submit="trackpadCtrl.sendText(trackpadCtrl.text)">
        <input ng-model="trackpadCtrl.text" class="form-control" placeholder="type and send..." />
      </form>
    </div>
  </div>
  <hr />
  <div class="row touchpad-row">
    <div class="col-xs-12 touchpad-col">
      <div class="trackpad--touchpad" hm-drag="trackpadCtrl.onTrackDrag($event)" hm-touch="trackpadCtrl.onTrackTouchStart($event)"></div>
    </div>
  </div>
  <div class="row trackpad--buttons">
    <div class="col-xs-5 left-click">
        <button ng-click="trackpadCtrl.leftClick()" class="btn btn-primary btn-large"></button>
      </div>
    <div class="col-xs-2 double-click">
      <button ng-click="trackpadCtrl.doubleClick()" class="btn btn-large"></button>
    </div>
    <div class="col-xs-5 right-click">
      <button ng-click="trackpadCtrl.rightClick()" class="btn btn-primary btn-large"></button>
    </div>
  </div>
  <div class="row touchpad-row">
    <div class="col-xs-12 touchpad-col">
      <touchpad></touchpad>
    </div>
  </div>
</section>
